@media (min-width: 600px)
    body
        display: flex
        align-items: center
    .container
        max-width: 87.6391rem
        width: 61%
        .card
            .car
                width: 6.5rem
            .title
                margin-top: 3.5rem
            .button
                margin-top: 5.5rem

@media (min-width: 800px)
    .container
        display: flex
        .card
            width: 33.333%

@media (min-width: 990px)
    body
        height: 100vh